{% extends "::basePlayer.html.twig" %}

{% block title %}Twój panel{% endblock %}

{% block body %}
    <div id="mainContainerBackground">
    </div>
    <div class="sbi_container">
        <ul style="list-style-type:none;" id="gameHistoryList">
            {#{% for game in games %}
                <a style="padding:2px" href="{{ path('showGameDetails',{gameId: game.id}) }}"><button class='gameListButton'>{{ game.date }}</button></a>
            {% endfor %}#}
            {% if player == 0 %}
                <a style="padding:2px" href="{{ asset('/addPlayer') }}"><button class='gameListButton'>Dodaj zawodnika</button></a>
            {% else %}
                <a style="padding:2px" href="{{ asset('/editPlayer') }}"><button class='gameListButton'>Edytuj zawodnika</button></a>
            {% endif %}
            {% if playerCheckedIn == 0 %}
                <a style="padding:2px" href="{{ path('signInOut', {'action': 'signIn'}) }}"><button class='gameListButton'>Zapisz się</button></a>
            {% else %}
                <a style="padding:2px" href="{{ path('signInOut', {'action': 'signOut'}) }}"><button class='gameListButton'>Wycofaj się</button></a>
            {%endif%}
            <a style="padding:2px" href="{{ asset('/') }}"><button class='gameListButton'>Zmień dane użytkownika</button></a>
            <a style="padding:2px" href="{{ asset('/showPlayerList') }}"><button class='gameListButton'>Pokaż listę najbliższego meczu</button></a>
            <a style="padding:2px" href="{{ asset('/showGameHistoryList') }}"><button class='gameListButton'>Pokaż historię spotkań</button></a>
            <a style="padding:2px" href="{{ asset('/logout') }}"><button class='gameListButton'>Wyloguj się</button></a>
        </ul>
        <a href ='{{asset("/")}}'
            <div class="goBackButton">
                <span>Powrót</span>
            </div>
        </a>
    </div>
{% endblock %}
