{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Admin:SelectDay{% endblock %}

{% block body %}
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Wyniki spotkania:  {{ nextGame.date }} - {{ nextGame.place }}</h2>
        </div>
        <div class="panel-body">
            <form id="gameTypeSelect">
                <div class="radio-inline">
                  <label><input type="radio" name="gameType" value="2">2 vs. 2</label>
                </div>
                <div class="radio-inline">
                  <label><input type="radio" name="gameType" value="3">3 vs. 3</label>
                </div>  
                <div class="radio-inline">
                  <label><input type="radio" name="gameType" value="4">4 vs. 4</label>
                </div>
                <div class="radio-inline">
                  <label><input type="radio" name="gameType" value="5">5 vs. 5</label>
                </div>
            </form>
        </div>
        <div class="playersList">
            <div id="2" class="playerList">
                <div style="float:left; margin-right: 300px;">
                    <h4>Drużyna Pierwsza</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..2 %}
                            <label>{{ loop.index }}</label>
                            <select class="team1 twoOnTwo">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin firstTeamScore twoOnTwo">
                    </form>
                    </div>
                    </div>    
                </div>
                <div style="float:left; margin-right: 300px">
                    <h4>Drużyna Druga</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..2 %}
                            <label>{{ loop.index }}</label>
                            <select class="team2 twoOnTwo">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin secondTeamScore twoOnTwo">
                    </form>
                    </div>
                    </div>    
                </div>
                        <div style="clear:both; margin-left: 300px">
                            <br>
                        <button class="btn btn-success btn-lg addGameResult" >Dodaj</button>
                        </div>
            </div>
            <div id="3" class="playerList">
                
                <div style="float:left; margin-right: 300px;">
                    <h4>Drużyna Pierwsza</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..3 %}
                            <label>{{ loop.index }}</label>
                            <select class="team1 threeOnThree">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin firstTeamScore threeOnThree">
                    </form>
                    </div>
                    </div>    
                </div>
                <div style="float:left; margin-right: 300px">
                    <h4>Drużyna Druga</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..3 %}
                            <label>{{ loop.index }}</label>
                            <select class="team2 threeOnThree">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin secondTeamScore threeOnThree">
                    </form>
                    </div>
                    </div>    
                </div>
                        <div style="clear:both; margin-left: 300px">
                            <br>
                        <button class="btn btn-success btn-lg addGameResult">Dodaj</button>
                        </div>
                
            </div>
            <div id="4" class="playerList">
                <div style="float:left; margin-right: 300px;">
                    <h4>Drużyna Pierwsza</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..4 %}
                            <label>{{ loop.index }}</label>
                            <select class="team1 fourOnFour">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin firstTeamScore fourOnFour">
                    </form>
                    </div>
                    </div>    
                </div>
                <div style="float:left; margin-right: 300px">
                    <h4>Drużyna Druga</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..4 %}
                            <label>{{ loop.index }}</label>
                            <select class="team2 fourOnFour">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin secondTeamScore fourOnFour">
                    </form>
                    </div>
                    </div>    
                </div>
                        <div style="clear:both; margin-left: 300px">
                            <br>
                        <button class="btn btn-success btn-lg addGameResult">Dodaj</button>
                        </div>
            </div>
        </div>
            <div id="5" class="playerList">
                <div style="float:left; margin-right: 300px;">
                    <h4>Drużyna Pierwsza</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..5 %}
                            <label>{{ loop.index }}</label>
                            <select class="team1 fiveOnFive">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin firstTeamScore fiveOnFive">
                    </form>
                    </div>
                    </div>    
                </div>
                <div style="float:left; margin-right: 300px">
                    <h4>Drużyna Druga</h4>
                    <div class="row">
                        <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                    <form>
                        {% for i in 1..5 %}
                            <label>{{ loop.index }}</label>
                            <select class="team2 fiveOnFive">
                            {% for player in players %}
                                <option class="optiony" value="{{ player.player.id }}">{{ player.player.name }}</option>
                            {% endfor %}
                            </select><br><br>
                        {% endfor %}
                        <label>Wynik:</label>
                        <input type="number" name="firstTeamScore"class="form-control no-spin secondTeamScore fiveOnFive">
                    </form>
                    </div>
                    </div>    
                </div>
                        <div style="clear:both; margin-left: 300px">
                            <br>
                        <button class="btn btn-success btn-lg addGameResult" >Dodaj</button>
                        </div>
            </div>
                </div>
        </div>
    </div> 
{% endblock %}
