{% extends "::baseAdmin.html.twig" %}

{% block title %}Panel Administratora{% endblock %}

{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading" style="position:relative">
            <h3 >Spotkanie z dnia {{ game.date }}</h3>
            <a href="{{ path('gameIndex') }}"><button class="btn btn-danger"><span>Wróć</span></button></a>
        </div>
    </div>
    <div id=" mainContainerGameDetails">
        <div id="scoreGameDetails">
            <span id="spanScore">{{ game.score}}<span>
            <span id="firstTeamName" class="teamName">Drużyna Jasna</span>
            <span id="secondTeamName" class="teamName">Drużyna Ciemna</span>
        </div>
{#        <div id="teamNameSpot">
            ss
        </div>#}
        <div id="teamCompeting">
            <div class="playersCompeting">
                <div class="playerSpot firstPlayerSpot whiteSpot">
                    <img src="/photos/{{ game.team1.firstPlayer.photoFront }}" class="center-block">
                </div>
{#                    <div class="firstPlayerName"><span>{{ game.team1.firstPlayer.name }}</span></div>#}
                <div class="firstRibbon">
                    {% set playerName = game.team1.firstPlayer.name %}
                    {{ include('ribbon.html.twig') }}
                </div>

                <div class="playerSpot secondPlayerSpot whiteSpot">
                    <img src="/photos/{{ game.team1.secondPlayer.photoFront }}" class="center-block">
                </div>
                <div class="secondtRibbon">
                    {% set playerName = game.team1.secondPlayer.name %}
                    {{ include('ribbon.html.twig') }}
                </div>
                
                <div class="playerSpot thirdPlayerSpot whiteSpot">
                    <img src="/photos/{{ game.team1.thirdPlayer.photoFront }}" class="center-block">
                </div>
                <div class="thirdRibbon">
                        {% set playerName = game.team1.thirdPlayer.name %}
                        {{ include('ribbon.html.twig') }}
                </div>
                {% if game.team1.fourthPlayer.name is defined %}
                    <div class="playerSpot fourthPlayerSpot whiteSpot">
                        <img src="/photos/{{ game.team1.fourthPlayer.photoFront }}" class="center-block">
                    </div>
                    <div class="fourthRibbon">
                        {% set playerName = game.team1.fourthPlayer.name %}
                        {{ include('ribbon.html.twig') }}
                    </div>
                    {% if game.team1.fifthPlayer.name is defined %}
                        <div class="playerSpot fifthPlayerSpot whiteSpot">
                            <img src="/photos/{{ game.team1.fifthPlayer.photoFront }}" class="center-block">
                        </div>
                        <div class="fifthRibbon">
                        {% set playerName = game.team1.fifthPlayer.name %}
                        {{ include('ribbon.html.twig') }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="playersCompeting">
                <div class="playerSpot firstPlayerSpot blackSpot">
                    <img src="/photos/{{ game.team2.firstPlayer.photoFront }}" class="center-block">
                </div>
                <div class="firstRibbon">
                    {% set playerName = game.team2.firstPlayer.name %}
                    {{ include('ribbon.html.twig') }}
                </div>
                <div class="playerSpot secondPlayerSpot blackSpot">
                    <img src="/photos/{{ game.team2.secondPlayer.photoFront }}" class="center-block">
                </div>
                <div class="secondtRibbon">
                    {% set playerName = game.team2.secondPlayer.name %}
                    {{ include('ribbon.html.twig') }}
                </div>
                <div class="playerSpot thirdPlayerSpot blackSpot">
                    <img src="/photos/{{ game.team2.thirdPlayer.photoFront }}" class="center-block">
                </div>
                <div class="thirdRibbon">
                   {% set playerName = game.team2.thirdPlayer.name %}
                   {{ include('ribbon.html.twig') }}
               </div>
               {% if game.team2.fourthPlayer.name is defined %}
                    <div class="playerSpot fourthPlayerSpot blackSpot">
                        <img src="/photos/{{ game.team2.fourthPlayer.photoFront }}" class="center-block">
                    </div>
                    <div class="fourthRibbon">
                        {% set playerName = game.team2.fourthPlayer.name %}
                        {{ include('ribbon.html.twig') }}
                    </div>
                    {% if game.team2.fifthPlayer.name is defined %}
                        <div class="playerSpot fifthPlayerSpot blackSpot">
                            <img src="/photos/{{ game.team2.fifthPlayer.photoFront }}" class="center-block">
                        </div>
                        <div class="fifthRibbon">
                        {% set playerName = game.team2.fifthPlayer.name %}
                        {{ include('ribbon.html.twig') }}
                        </div>
                    {%endif%}
                {% endif %}
            </div>
        </div>
    </div>
            
{% endblock %}
