{% extends "::baseAdmin.html.twig" %}

{% block title %}Panel Administratora{% endblock %}

{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading" style="position:relative">
            <h3 >Spotkanie z dnia {{ game.date }}</h3>
            <a href="{{ path('gameIndex') }}"><button class="btn btn-danger"><span>Wróć</span></button></a>
        </div>
    </div>
    <div id=" mainContainerGameDetails">
        <div id="scoreGameDetails">
            <span id="spanScore">{{ game.score}}<span>
            <span id="firstTeamName" class="teamName">Drużyna Jasna</span>
            <span id="secondTeamName" class="teamName">Drużyna Ciemna</span>
        </div>
{#        <div id="teamNameSpot">
            ss
        </div>#}
        <div id="teamCompeting">
            <div class="playersCompeting">
                <div class="playerSpot firstPlayerSpot whiteSpot">
                    <img src="/photos/{{ game.team1.firstPlayer.photoFront }}" class="center-block">
                </div>
{#                    <div class="firstPlayerName"><span>{{ game.team1.firstPlayer.name }}</span></div>#}

                <div class="ribbon-wrapper myribbon">
                    <div class="ribbon-front">
                            {{ game.team1.firstPlayer.name }}
                    </div>
                    <div class="ribbon-edge-topleft"></div>
                    <div class="ribbon-edge-topright"></div>
                    <div class="ribbon-edge-bottomleft"></div>
                    <div class="ribbon-edge-bottomright"></div>
                    <div class="ribbon-back-left"></div>
                    <div class="ribbon-back-right"></div>
                </div>


                <div class="playerSpot secondPlayerSpot whiteSpot">
                    <img src="/photos/{{ game.team1.secondPlayer.photoFront }}" class="center-block">
                </div>
                <div class="playerSpot thirdPlayerSpot whiteSpot">
{#                   {{ game.team1.thirdPlayer.photoFront }}#}
                </div>
                <div class="playerSpot fourthPlayerSpot whiteSpot">
                </div>
                <div class="playerSpot fifthPlayerSpot whiteSpot">
                </div>
            </div>
            <div class="playersCompeting">
                <div class="playerSpot firstPlayerSpot blackSpot">
                    <img src="/photos/{{ game.team2.firstPlayer.photoFront }}" class="center-block">
                </div>
                <div class="playerSpot secondPlayerSpot blackSpot">
                    <img src="/photos/{{ game.team2.secondPlayer.photoFront }}" class="center-block">
                </div>
                <div class="playerSpot thirdPlayerSpot blackSpot">
{#                    {{ game.team2.thirdPlayer.photoFront }}#}
                </div>
                <div class="playerSpot fourthPlayerSpot blackSpot">
                </div>
                <div class="playerSpot fifthPlayerSpot blackSpot">
                </div>
            </div>
        </div>
    </div>
            
{% endblock %}
