{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Admin:SelectDay{% endblock %}

{% block body %}
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Najbliższy mecz</h2>
        </div>
        <div class="panel-body">
            <h5>{{ nextGame.date }} - {{ nextGame.place }}</h5>
            <div class="row">
                <div class="col-xs-4">
                    <table class="table table-striped table-hover table-condensed">
                        <tr>
                            <th></th>
                            <th>Zawodnik</th>
                            <th>Akcja</th>
                        </tr>
                        <tr>
                            {% for player in playersList %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ player.player.name }}</td>
                                <td><a href="{{ path('deletePlayerFromList', {'id': player.id}) }}"><button class="btn btn-danger btn-xs">Usuń</button></a></td>
                            <tr>
                            {% endfor %}
                        </tr>
                    </table>
                        <a href="{{ asset('addPlayerToNextGame') }}"><button class="btn btn-info">Dodaj zawodnika</button></a>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
