{% extends "::baseAdmin.html.twig" %}

{% block title %}Panel Administratora{% endblock %}

{% block body %}
    <div class="panel panel-success">
           <div class="panel-heading" style="position:relative">
               <h3 >Najbliższy mecz: {{ nextGame.date }} - {{ nextGame.place }}</h3>
               <a href="{{ path('adminPanel') }}"><button class="btn btn-danger"><span>Wróć</span></button></a>
           </div>
    </div>
    <div id="containerShowList">
        <div id="listOfPlayersPlaying">
            <table>
                <tr>
                    <th></th>
                    <th>Zawodnik</th>
                    <th>Akcja</th>
                </tr>
                <tr>
                    {% if playersList != 0 %}
                        {% for player in playersList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ player.player.name }}</td>
                            <td><a href="{{ path('deletePlayerFromList', {'id': player.id}) }}"><button class="btn btn-danger"><span>Usuń</span></button></a></td>
                        <tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {%endif%}
                </tr>
            </table>
        </div>    
        <div id="selectPlayerSpot">
            <form method="post" action="{{ asset('showList') }}">
                <select name="player">
                    {% for player in players %}
                        <option>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
                <input type="submit" value="Dodaj zawodnika" class="btn btn-info">
            </form>
        </div>
    </div>
{% endblock %}
